{{ define "main" }}
{{ partial "profile.html" . }}

<div id="list-page">
  {{ range .Site.Data.notebooks }}
  <div class="notebook">
    <h2 class="notebook-title">{{ .name }} </h2>
    <span>{{ .badge | markdownify }}</span>
  </div>
  {{ end }}
    {{ range where .Site.RegularPages "Type" "posts" }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        {{ $badge := .Params.badge }}
        <section class="item">
	  <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>
          <!--   <div class ="date"> -->
          <!--       <time datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</time>   -->
          <!--   </div> -->

	    <!-- {{ with .Params.tags }} -->
	    <!-- 	<div class="tags"> -->
	    <!-- 	    {{ range . }} -->
	    <!-- 		<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> -->
	    <!-- 	    {{ end }} -->
	    <!-- 	</div> -->
	    <!-- {{ end}} -->

          <!-- {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }} -->
          <!--     <div class="summary">{{ $summary | plainify | htmlUnescape }}</div> -->
          <!-- {{ end }} -->

        </section>
    {{ end }}
</div>
{{ end }}
